@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #adcbfe;
    overflow-x: hidden;
    padding-top: 90px;
    font-family: "poppins", sans-serif;
    margin: 0 100px;
}

.navbar .judul{
    float: left;
    color: #4d84e2;
    font-size: 25px;    
    padding: 18px;    
}

.navbar a{
    float: right;    
    color: black;   
    padding: 25px;     
    text-decoration: none;
    font-size: 17px;
    margin-right: 17px;
}
.navbar a:hover{
    color: #4d84e2;
    text-decoration: none;
    text-decoration-color: #4d84e2;
}

.search {
  margin-top: 8px;
  margin-left:17%;  
  position:absolute;
  display:flex;  
}

.search-term { 
  border: 3px solid #4d84e2;
  border-right: none;
  padding: 5px;
  height: 35px;  
  border-radius: 5px 0 0 5px;  
  font-size: 17px;
}

.search-term:focus{
  color: black;  
}

.search-button {
  width: 70px;
  height: 51px;
  border: 1px solid #4d84e2;
  background: #4d84e2;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 17px;
}

.profile-header{
    background: white;
    width: 100%;
    display: flex;
    height: 190px;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0,0,0,.2);
}

.profile-img{
    float: left;
    width: 340px;
    height: 200px;
}

.profile-img img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 4px solid white;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    position: absolute;
    left: 30px;
    top: 20px;
    z-index: 5;
    background: white;
}

.profile-nav-info {
    float: left;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}

.profile-nav-info h3{
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}

.profile-nav-info p{
    display: flex;
    font-weight: bold;
    color: #777;
    margin-right: 5px;
}

.main-bd{
    width: 100%;
    display: flex;
    padding-right: 15px;
}

.profile-side{
    width: 205px;
    background: white;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    padding: 20px 30px 20px;
    text-align: center;
    font-size: 14px;
} 

profile-side p{
    color: black;
    text-align: center;
}

.profile-btn{
    display: flex;
}

button.eventbtn, button.coursebtn{
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    margin: 5px 2px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: background .3s ease-in-out;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,.3);
    color: black;
}

button.eventbtn:hover, button.coursebtn:hover{
    background: rgba(123, 174, 255)
}

.right-side{
    width: 100%;
}

.nav{
    width: 100%;
    z-index: -1;
}

.nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 50px;
    width: 100%;
    background: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,.3);
}

.nav ul li{
    padding: 10px;
    width:100%;
    cursor: pointer;
    text-align: center;
    transition: all .2s ease-in-out;
}

.nav ul li:active, .nav ul li:hover{
    box-shadow: 0px -3px 0px rgba(123, 174, 255) inset;
}

.profile-body{
    width: 100%;
    z-index: -1;
}

.tab{
    padding: 20px;
    width: 100%;
    text-align: center;
    display: none;
}

@media(max-width: 1100px){
    .profile-side{
        width: 250px;
        padding: 90px 15px 20px;
    }
    .profile-img img{
        height: 200px;
        width: 200px;
        left: 50px;
        top: 50px
    }
}

@media(max-width: 900px){
    body{
        margin: 0 20px;
    }

    .profile-header{
        display: flex;
        height: 100%;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }

    .profile-img{
        float: left;
        width: 100%;
        height: 200px;
    }

    .profile-img img{
        position: relative;
        left: 0;
    }

    .profile-nav-info{
        text-align: center;
    }

    .main-bd{
        flex-direction: column;
        padding-right: 0px;
    }

    .profile-side{
        width: 100%;
        text-align: center;
        padding: 20px;
        margin: 5px 0;
    }

    @media(max-width: 400px){
        body{
            margin: 0;
        }

        .profile-header h3{
            font-size: 1.7rem;
        }

        .profile-header p{
            font-size: .9rem;
        }
    }
}